li {
  display:inline;
  padding:3px;
  margin:5px;
  font: 10pt 'Open Sans', sans-serif;
}

.top_nav {
  text-align:right;
  height: 50px;
}

.but2{
  display: block;
  width: 238px;
  margin:20px auto;
}

li a.button{
  background-color: rgb(245,245,245);
  color: rgb(90,90,90);
  font: 12pt bold; 
}

footer{
  width: 100%;
  background-color: rgb(245,245,245);
  position: absolute;
  left:0;
  bottom:0;
  border-top:1px solid rgb(190,190,190);  
}


.bottom-right{
  float:right;
}

.bottom-left{
  float:left;
}

.bottom-right li a, .bottom-left li a{
  color: rgb(90,90,90);
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

a.button:hover {
  text-decoration:none;
}

li a.button:hover {
  background-color: rgb(255,255,255);
  color: black;
  font: 12pt bold;
  border:1px solid rgb(190,190,190);
}

img{
  vertical-align: -10px;
}

.bell{
  vertical-align: -6px;
}

.grid{
  vertical-align: -4px;
}
